@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap");

body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.banner {
  img {
    max-width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .banner {
    img {
      width: calc(100vw - 60px);
      height: calc((100vw - 60px) / 2.2879);
    }
  }
}
a {
  color: $blue;
  outline: 0;
  border-radius: 5px;

  &:hover,
  &:focus {
    color: $blue;
  }

  &:focus {
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px $blue;
    outline: 0;
  }
}

main {
  padding: 75px 0 30px;
}

h1 {
  color: $blue;
  margin: 0 0 1.875vw;
  font-weight: 700;
}

h2 {
  margin-top: 3.359vh;
  font-weight: 700;
  font-size: 18px;
  color: $blue;
}

h3 {
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  margin-top: 1.016vh;
  line-height: 21px;
}

.card-subtitle {
  min-height: 63px;
}

.card-img-top {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#content {
  img {
    max-width: 100%;
  }

  blockquote {
    box-shadow: rgb(41, 41, 41) 3px 0px 0px 0px inset;
    font-style: italic;
    margin-left: -20px;
    padding-left: 20px;
  }

  pre {
    background: rgba(242, 242, 242, 1);
    margin-top: 50px;
    padding: 20px;
  }

  a {
    color: #713e94;
    text-decoration: underline;
    font-weight: 600;

    &:hover{
      color: #0a3055;
    }
  }

}
