//Colors
$white: #ffffff;
$brown: #a06928;
$black: #000000;
$orange: #fe4602;
$blue: #0a3055;
$purple: #713e94;
$light-blue: #34d5b4;
$pink: #fddec1;
$grey: #f8f8f8;
$dark-grey: #4e4545;
//Shadows
$shadow: #dedede;
//Borders
$border-radius: 4px 18px;
$border-bottom: 2px groove rgba(225, 206, 234, 0.3);
